model_config_list {
  config {
    name: 'encoder'
    base_path: '/home/kigor/Documents/DataScience/TF_Serving/Chat-bot/saved_models/encoder_saved/'
    model_platform: 'tensorflow'
    
    model_version_policy {
      specific {
        versions: 1
      }
    }
    version_labels {
      key: 'stable'
      value: 1
    }
}
  }
  config {
    name: 'decoder'
    base_path: '/home/kigor/Documents/DataScience/TF_Serving/Chat-bot/saved_models/decoder_saved/'
    model_platform: 'tensorflow'
    
    model_version_policy {
      specific {
        versions: 1
      }
    }
    version_labels {
      key: 'stable'
      value: 1
    }
  }
}
