model_config_list {
  config {
    name: 'encoder'
    base_path: '/absolute_path_to_folder/saved_models/encoder_saved/'
    model_platform: 'tensorflow'
    
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
  config {
    name: 'decoder'
    base_path: '/absolute_path_to_folder/saved_models/decoder_saved/'
    model_platform: 'tensorflow'
    
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
}
